@model IEnumerable<RRHH.Models.Planilla>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPlanilla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasTrabajadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasExtras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deducciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpuestoRenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioNeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanillaFechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanillaStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpuestoRentaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPlanilla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasTrabajadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasExtras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deducciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpuestoRenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioNeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanillaFechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanillaStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpuestoRentaNavigation.ImpuestoRentaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeduccion.TipoDeduccionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanillaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlanillaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanillaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
