@model RRHH.Models.Permiso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Permiso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermisoStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermisoStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasSolicitadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasSolicitadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermisoCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermisoCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermisoUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermisoUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermisoDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermisoDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPermiso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPermiso.TipoPermisoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioIdaprobadoPorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioIdaprobadoPorNavigation.NombreUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PermisoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
