@model IEnumerable<RRHH.Models.Permiso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PermisoStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasSolicitadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermisoCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermisoUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermisoDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPermiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioIdaprobadoPorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PermisoStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasSolicitadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermisoCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermisoUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermisoDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPermiso.TipoPermisoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioIdaprobadoPorNavigation.NombreUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PermisoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PermisoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PermisoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
