@model RRHH.Models.Marca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MarcaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
